@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Off-white);
}

.container {
    width: 750px;
    background-color: var(--White);
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    border-radius: 1rem 1rem 10rem 1rem;
    margin: 20px;
}

.inputs {
    display: flex;
    border-bottom: 3px solid var(--Light-grey);
    padding: 30px;
    position: relative;
}

input {
    width: 150px;
    font-size: 32px;
    margin: 0 20px 0px 0;
    padding: 10px 0 10px 20px;
    border-radius: 0.5rem;
    font-weight: 700;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    caret-color: var(--Purple);
    cursor: pointer;
}

input:focus {
    border: 1px solid var(--Purple);
    outline: none;
}

label {
    font-size: 15px;
    color: var(--Smokey-grey);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

img {
    background-color: var(--Purple);
    width: 96px;
    height: 94px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: -28%;
    right: 0%;
    cursor: pointer;
}

img:hover {
    background-color: var(--Off-black);
}

.answer {
    font-size: 45px;
    padding: 30px 20px;
    line-height: 90px;
}

h1>span {
    color: var(--Purple);
}

.answer>h1 {
    font-style: italic;
}

input:invalid {
    outline-color: red;
    border: 1px solid red;
}

input:invalid .day-label {
    color: red;
    background-color: red;
}

#pa {
    color: red;
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
    padding: 10px 0 0 0;
}

#month-pa {
    color: red;
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
    padding: 10px 0 0 0;
}

#year-pa {
    color: red;
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
    padding: 10px 0 0 0;
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 375px) {

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }

    body {
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: var(--Off-white);
        padding: 10px;
    }

    .container {
        width: 100%;
        background-color: var(--White);
        padding: 15px;
        font-family: 'Poppins', sans-serif;
        border-radius: 1rem 1rem 10rem 1rem;
    }

    .inputs {
        display: flex;
        border-bottom: 3px solid var(--Light-grey);
        padding: 10px;
        position: relative;
        justify-content: space-evenly;
        padding-bottom: 40px;
    }

    input {
        width: 70px;
        font-size: 15px;
        margin: 0 10px 0 0;
        padding: 10px 0 10px 10px;
        border-radius: 0.5rem;
        font-weight: 700;
        margin-top: 5px;
        font-family: 'Poppins', sans-serif;
        caret-color: var(--Purple);
        cursor: pointer;
    }

    input:focus {
        border: 1px solid var(--Purple);
        outline: none;
    }

    label {
        font-size: 13px;
        color: var(--Smokey-grey);
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    img {
        background-color: var(--Purple);
        width: 56px;
        height: 54px;
        padding: 10px;
        border-radius: 50%;
        position: absolute;
        right: 41%;
        cursor: pointer;
    }

    img:hover {
        background-color: var(--Off-black);
    }

    .answer {
        font-size: 25px;
        padding: 25px 10px;
        line-height: 70px;
    }

    h1>span {
        color: var(--Purple);
    }

    .answer>h1 {
        font-style: italic;
    }

    input:invalid {
        outline-color: red;
        border: 1px solid red;
    }

    input:invalid .day-label {
        color: red;
        background-color: red;
    }

    #pa {
        color: red;
        font-weight: 400;
        font-style: italic;
        font-size: 10px;
        padding: 10px 0 0 0;
        margin: 0px 0 0 10px;
    }

    #month-pa {
        color: red;
        font-weight: 400;
        font-style: italic;
        font-size: 10px;
        padding: 10px 0 0 0;
        margin: 0px 0 0 10px;
    }

    #year-pa {
        color: red;
        font-weight: 400;
        font-style: italic;
        font-size: 10px;
        padding: 10px 0 0 0;
        margin: 0px 0 0 10px;
    }
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
}